name: Build Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout
        uses: actions/checkout@v4

      - name: build 
        shell: bash
        run: |
          gcc -o hash_check main.c -lcrypto
        
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4
        with:
          name: hash_check
          path: hash_check
      
