name: Build Workflow

on:
  push:
    branches:
      - main
    paths:
      - '*.c'
      - '*.h'
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout
        uses: actions/checkout@v4

      - name: build 
        shell: bash
        run: |
          gcc -o hash_check main.c -lcrypto
        
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4
        with:
          name: hash_check_linux
          path: hash_check

  build-windows:
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout
        uses: actions/checkout@v4

      - name: install mingw-w64
        run: |
          sudo apt update
          sudo apt install mingw-w64 -y

      - name: build 32-bit and 64-bit
        shell: bash
        run: |
          i686-w64-mingw32-gcc -o hash_check_32.exe main.c -lcrypto
          x86_64-w64-mingw32-gcc -o hash_check_64.exe main.c -lcrypto
        
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4
        with:
          name: hash_check_windows
          path: ./hash_check*.exe
      
